<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="FinalScriptVtiger.CreateOrgwithTypeAndIndustry"/>
      <class name="FinalScriptVtiger.CreatecontactWithOrganisationTest"/>
      <class name="FinalScriptVtiger.CreateEventTest"/>
      <class name="FinalScriptVtiger.CreateContactTest"/>
      <class name="FinalScriptVtiger.CreateandDuplicateLeadTest"/>
      <class name="FinalScriptVtiger.CreateLeadTest"/>
      <class name="FinalScriptVtiger.DeleteLeadTest"/>
      <class name="FinalScriptVtiger.CreateOrganisationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
